<launch>

    <node
        pkg="baxter_tools"
        type="enable_robot.py"
        name="activation_robot" 
        args="-e" >
    </node>

<!--
    <node 
        pkg="baxter_tools"
        type="tuck_arms.py"
        name="deploiement_bras"
        args="-u" >
    </node>
-->

    <node
        pkg="projet_rob4"
        type="calculateur.py"
        name="calculateur" >
    </node>
    
    <node
        pkg="projet_rob4"
        type="extinction_sonar.py"
        name="extinction_sonar" >
    </node>
    
    <node
        pkg="projet_rob4"
        type="afficheur.py"
        name="afficheur"
        output="screen" >
    </node>
    
    <node
        pkg="projet_rob4"
        type="interpreteur.py"
        name="interpreteur"
        output="screen" >
    </node>
    
    <node 
        pkg="projet_rob4"
        type="commande_clavier.py"
        name="commande_clavier" >
        output="screen" >
    </node>

</launch>
